.weather_detail_container{
  margin-bottom: 3rem;
}
.weather_detail_container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.weather_detail_container > div > div {
  width: var(--space-box);
  height: var(--space-box);
  border: 1px solid black;
  margin: var(--step--4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--step--1);
  padding: 5px;
}
.weather_value {
  font-size: var(--step-1);
  font-weight: 500;
  text-align: center;
}

.weather_value_text {
  text-align: center;
  height: 40%;
}
@media (max-width: 600px) {
  .weather_value {
    font-size: var(--step--1);
  }
  .weather_detail_container {
    border-top: 1px solid rgb(135, 135, 135);
    border-bottom: 1px solid rgb(135, 135, 135);

  }
  .weather_detail_container > div {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
